@import './reset.css';

@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Lato&display=swap');

body {
  background: #b30903;
  font-size: 1.3rem;
  font-family: Lato, sans-serif;
}

a {
  color: #222;
  text-decoration: none;
}

header {
  padding: 1em 5em;
  background: rgb(238, 238, 238);
}

.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item + .nav__item {
  margin-left: 2em;
}

.nav__link {
  font-weight: 700;
}

.nav__link:focus {
  color: #b30903;
}

.top {
  background: rgb(238, 238, 238);
  margin: 0.5em;
  padding: 2em 3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.top-section p:nth-child(1) {
  font-size: 1.5rem;
}

.top-section p:nth-child(2) {
  color: rgb(184, 184, 184);
  font-size: 0.9rem;
  margin-top: 0.5em;
}

.top-section p:nth-child(3) {
  color: #b30903;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.5em;
}

.name {
  color: #b30903;
  font-weight: bold;
}

.edit {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  font-size: 0.9rem;
  color: #b30903;
  font-weight: 300;
}

.bottom {
  background: rgb(238, 238, 238);
  margin: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 2em 0;
  min-height: 55vh;
  position: relative;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5em;
  width: 100%;
}

.box-inner {
  padding: 3.5em 0;
  border-radius: 0.5em;
  color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.box-inner + .box-inner {
  margin-left: 3em;
}

.box-inner:nth-child(1) {
  background: #9a3200;
}

.box-inner:nth-child(2) {
  background: #330000;
}

.box-inner:nth-child(3) {
  background: #003332;
}


.section-one {
  background: white;
  padding: 1em 0 1.5em;
  margin-top: 4em;
  max-width: 700px;
  width: 100%;
  position: absolute;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .5em;
  display: none;
}

.container-form {
  text-align: center;
}

.container-form h1{
  color: #b30903;
  font-weight: bold;
}

.container-form p {
  color: rgb(184, 184, 184);
  font-size: 0.75rem;
}

form {
  text-align: center;
}

.form-input {
  display: flex;
  margin-top: 1.2em;
}

.form-input label {
  width: 40%;
  text-align: right;
  margin-right: 0.5em;
}

.form-input input[type='text'] {
  width: 40%;
}

.form-input input[type='email'] {
  width: 40%;
}

.form-input .select-box {
  width: 40%;
}

form input[type='button'] {
  width: 40%;
}

input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 0.5em;
  border-radius: 0.5em;
  border: 1px solid #707070;
}

input[type='button'] {
  width: 100%;
  padding: 1em 0;
  color: #b30903;
  cursor: pointer;
  height: fit-content;
}

.btn .btn-sub {
  margin-left: 23%;
  margin-top: 2em;
}

input[type='email'] {
  width: 100%;
  padding: 1em 0.5em;
}

.select-box {
  width: 100%;
  border-radius: 0.5em;
  padding: 1em 0.5em;
}

.show {
  display: block;
}