@import './reset.css';

body {
  background: #b30903;
  font-size: 1.3rem;
  font-family: Lato, sans-serif;
}

a {
  color: #222;
  text-decoration: none;
}

header {
  padding: 1em 5em;
  background: rgb(238, 238, 238);
}

.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item + .nav__item {
  margin-left: 2em;
}

.nav__link {
  font-weight: 700;
}

.nav__link:focus {
  color: #b30903;
}

.top {
  background: rgb(238, 238, 238);
  margin: 0.5em;
  padding: 2em 3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.top-section p:nth-child(1) {
  font-size: 1.5rem;
}

.top-section p:nth-child(2) {
  color: rgb(184, 184, 184);
  font-size: 0.9rem;
  margin-top: 0.5em;
}

.top-section p:nth-child(3) {
  color: #b30903;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.5em;
}

.name {
  color: #b30903;
  font-weight: bold;
}

.edit {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  font-size: 0.9rem;
  color: #b30903;
  font-weight: 300;
}

.bottom {
  position: relative;
}

.table-container{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  width: 98%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 71vh;
}

.table-container .info {
  display: flex;
  float: right;
}

.table-container .info input{
  width: 60%;
  padding: 5px;
  border: 1px solid rgb(190, 14, 14);
  color: rgb(190, 14, 14);
  font-family: 'Averia Serif Libre', cursive;
}

.table-container .info button{
  width: 40%;
  padding: 5px;
  border: 1px solid rgb(190, 14, 14);
  background-color: rgb(190, 14, 14);
  color: #fff;
  font-family: 'Averia Serif Libre', cursive;
  cursor: pointer;
}

.table-container .info button:hover{
  background-color: #fff;
  color: rgb(190, 14, 14);
}

.table-container table{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 11px;
  width: 100%;
  text-align: center;
  margin-bottom: 8%;
  margin-top: 7%;
}

table, th,td{
  border: 1px solid #000000;
  border-collapse: collapse;
 }

 th, td{
   padding: .9px;
 }

 .table-head{
   background-color: rgb(185, 177, 177);
 }

 .navigation{
   display: flex;
   margin: auto;
   width: 155px;
   height: 30px;
   font-size: 16px;
   background-color: rgb(143, 4, 4);
   border-radius: 6px;
 }

 .navigation a:hover{
  background-color: rgb(136, 126, 126);
 }

 .navigation a.present:hover{
  background-color: rgb(124, 118, 118);
 }

.navigation .previous{
  background-color: rgb(195, 193, 193);
  width: 50%;
  border: 1px solid rgb(143, 4, 4);
  text-align: center;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  padding: 5px;
  text-decoration: none;
  color: #000000;
}

.navigation .number{
  background-color: rgb(195, 193, 193);
  width: 50%;
  border: 1px solid rgb(143, 4, 4);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: #000000;
}

.navigation .next{
  background-color: rgb(195, 193, 193);
  width: 50%;
  border: 1px solid rgb(143, 4, 4);
  text-align: center;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  padding: 5px;
  text-decoration: none;
  color: #000000;
}

.navigation .number.present{
  background-color: #fff;
  text-decoration: none;
  color: #000000;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color:  #fff;
  border: 1px solid rgb(190, 14, 14);
  width: 125px;
  color: rgb(190, 14, 14);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid rgb(190, 14, 14);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(190, 14, 14);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #f9f9f9;
}



.section-one {
  background: white;
  padding: 1em 0 1.5em;
  margin-top: 4em;
  max-width: 700px;
  width: 100%;
  position: absolute;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .5em;
  display: none;
}

.container-form {
  text-align: center;
}

.container-form h1{
  color: #b30903;
  font-weight: bold;
}

.container-form p {
  color: rgb(184, 184, 184);
  font-size: 0.75rem;
}

form {
  text-align: center;
}

.form-input {
  display: flex;
  margin-top: 1.2em;
}

.form-input label {
  width: 40%;
  text-align: right;
  margin-right: 0.5em;
}

.form-input input[type='text'] {
  width: 40%;
}

.form-input input[type='email'] {
  width: 40%;
}

.form-input .select-box {
  width: 40%;
}

form input[type='button'] {
  width: 40%;
}

input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 0.5em;
  border-radius: 0.5em;
  border: 1px solid #707070;
}

input[type='button'] {
  width: 100%;
  padding: 1em 0;
  color: #b30903;
  cursor: pointer;
  height: fit-content;
}

.btn .btn-sub {
  margin-left: 23%;
  margin-top: 2em;
}

input[type='email'] {
  width: 100%;
  padding: 1em 0.5em;
}


.show {
  display: block;
}