@import './reset.css';

@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Lato&display=swap');

body {
  display: flex;
  flex-direction: column;
  background: #b30903;
  font-size: 1.3rem;
  font-family: Lato, sans-serif;
}

main {
  position: relative;
}

a {
  color: #222;
  text-decoration: none;
}

header {
  padding: 1em 5em;
  background: rgb(238, 238, 238);
}

.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item + .nav__item {
  margin-left: 2em;
}

.nav__link {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav__link:focus{
  color: #b30903;
}

.top {
  background: rgb(238, 238, 238);
  margin: 0.5em;
  padding: 2em 3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.top-section p:nth-child(1) {
  font-size: 1.5rem;
}

.top-section p:nth-child(2) {
  color: rgb(184, 184, 184);
  font-size: 0.9rem;
  margin-top: 0.5em;
}

.top-section p:nth-child(3) {
  color: #b30903;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.5em;
}

.name {
  color: #b30903;
  font-weight: bold;
}

.edit {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  font-size: 0.9rem;
  color: #b30903;
  font-weight: 300;
}

.bottom {
  background: rgb(238, 238, 238);
  margin: 0.5em;
  padding: 2em 0 3em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  /* min-height: 50.25rem; */
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  text-align: center;
  color: white;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.box div {
  padding: 2em 0;
}

.box div:nth-child(1) {
  background: #9a3300;
}
.box div:nth-child(2) {
  background: #330100;
}
.box div:nth-child(3) {
  background: #053333;
}
.box div:nth-child(4) {
  background: #cb0c00;
}
.box div:nth-child(5) {
  background: #053200;
}
.box div:nth-child(6) {
  background: #990600;
}

.box-inner {
  border-radius: 0.5em;
}

.section-one {
  background: white;
  padding: 1em 0 1.5em;
  margin-top: 5em;
  max-width: 600px;
  width: 100%;
  position: absolute;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .5em;
  display: none;
}

.container-form {
  text-align: center;
}

.container-form h1{
  color: #b30903;
  font-weight: bold;
}

.container-form p {
  color: rgb(184, 184, 184);
  font-size: 0.75rem;
}

form {
  text-align: center;
}

.form-input {
  display: flex;
  margin-top: 1.2em;
}

.form-input label {
  width: 40%;
  text-align: right;
  margin-right: 0.5em;
}

.form-input input[type='text'] {
  width: 40%;
}

.form-input input[type='email'] {
  width: 40%;
}

.form-input .select-box {
  width: 40%;
}

form input[type='button'] {
  width: 40%;
}

input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 0.5em;
  border-radius: 0.5em;
  border: 1px solid #707070;
}

input[type='button'] {
  width: 100%;
  padding: 1em 0;
  color: #b30903;
  cursor: pointer;
  /* height: fit-content; */
}

.btn .btn-sub {
  margin-left: 23%;
  margin-top: 2em;
}

input[type='email'] {
  width: 100%;
  padding: 1em 0.5em;
}

.select-box {
  width: 100%;
  border-radius: 0.5em;
  padding: 1em 0.5em;
}

.request {
  background: rgb(244, 242, 242);
  position: absolute;
  max-width: 650px;
  width: 100%;
  padding: 0.5em 0 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.6);
  display: none;
}

.request h1 {
  text-align: center;
  color: #b30903;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.request-form {
  text-align: left;
  margin-left: 3.5em;
  margin-bottom: 1.5em;
}

.request-form label {
  font-weight: 700;
  margin-right: .5em;
  width: 60%;
}

.request-form .number {
  width: 40%;
}

.request-section .btn {
  border-radius: .5em;
  border: 1px solid #707070;
  font-size: 1rem;
}

.show {
  display: block;
}


.request-screening {
  background: white;
  padding: 1em 0 1.5em;
  margin-top: 2em;
  max-width: 600px;
  width: 100%;
  position: absolute;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .5em;
  display: none;
}